# InfluxDB
DOCKER_INFLUXDB_INIT_USERNAME=admin
DOCKER_INFLUXDB_INIT_PASSWORD=energy-admin-2026
DOCKER_INFLUXDB_INIT_ORG=energy-platform
DOCKER_INFLUXDB_INIT_BUCKET=energy_data
DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=energy-dev-token-2026
DOCKER_INFLUXDB_INIT_RETENTION=30d

# Grafana
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=energy-admin

# Collector
COLLECTOR_MODE=simulator
COLLECTOR_FACTORY_ID=factory_01
COLLECTOR_COLLECT_INTERVAL_SECONDS=5
